@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color-teal: #4fb9af;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-size: 16px;
}

.container {
    padding: 15px;
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
}

.searchContainer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.searchInput {
    border: 2px solid #d3d3d3;
    padding: 15px;
    margin: 10px 8px 10px 8px;
    width: 100%;
    outline: none;
    font-size: 1em;
}

.searchInput:focus {
    border: 2px solid var(--color-teal);
}

.searchInput::placeholder {
    font-weight: bold;
    letter-spacing: 1px;
}

.postItem {
    padding: 15px;
    margin: 10px 8px 10px 8px;
    width: 100%;
    font-size: 1.2em;
    border: 1px solid #d3d3d3;
}

.postItem:hover {
    background: var(--color-teal);
    color: var(--color-white);
}


